#leader-home-index-container
  .page-header
    .container-xl
      .row.align-items-center
        .col
          h2.page-title
            | Dashboard
  .page-body
    .container-xl
      p
        | 👌👌👌 Welcome 😍😍😍
