.nav-link-icon.material-icons {
  font-size: 1.25rem;
}

.navbar-brand-image {
  width: 150px;
}

.navbar-nav .nav-item-title {
  padding: 12px;
  font-weight: 600;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #ffffff;
}
