.pagination {
  margin-bottom: 0;
}

.page-link {
  border: none;
  padding: 4px;
  border-radius: 14px;
}

.page-item {
  margin: 0 4px;

  &.active {
    .page-link {
      background: var(--tblr-primary);
      border-color: var(--tblr-primary);
    }
  }
}
